<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="menu-header">
        <h1 class="main-title">{{ appName }}</h1>
        <p class="app-version">v{{ appVersion }}</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list lines="none">
      <ion-item class="theme-button" lines="full" button (click)="openThemeSelector()">
        <ion-label>Tema</ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>