<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      @if (currentBackLink) {
        <ion-back-button [defaultHref]="currentBackLink"></ion-back-button>
      }
    </ion-buttons>
    <ion-title>{{ currentTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar id="main-tab-bar" slot="bottom">
    <ion-tab-button tab="home" href="/">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    @if (canViewMasterTab()) {
      <ion-tab-button tab="master" href="/master">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Master</ion-label>
      </ion-tab-button>
    }

    @if (canViewAdminTab()) {
      <ion-tab-button tab="admin" href="/admin">
        <ion-icon name="shield-checkmark"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>
    }

    @if (isLoggedIn()) {
      <ion-tab-button tab="user" href="/user">
        @if (getActiveUserAvatar(); as userAvatar) {
          <span class="profile-tab-avatar" aria-hidden="true">
            <img [src]="userAvatar" alt="" />
          </span>
        } @else {
          <ion-icon name="person-circle"></ion-icon>
        }
        <ion-label>Mi perfil</ion-label>
      </ion-tab-button>
    } @else {
      <ion-tab-button (click)="onLoginTabClick($event)">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>