<ion-app>
  @if (showSplash) {
    <app-splash-screen (dismissed)="onSplashDismissed()"></app-splash-screen>
  }
  <app-menu [loginModalOpener]="loginModalOpener" [settingsModalOpener]="settingsModalOpener"></app-menu>
  <ion-router-outlet id="main-content" (activate)="onRouteActivate($event)"></ion-router-outlet>
  <app-login-modal [isOpen]="isLoginModalOpen" (close)="closeLoginModal()"></app-login-modal>
  <app-settings-modal [isOpen]="isSettingsModalOpen" (close)="closeSettingsModal()"></app-settings-modal>
</ion-app>
