<ion-content class="page-content server-settings-page" fullscreen>

  @if (loading) {
    <app-loader></app-loader>
  }

  @if (error && !loading) {
    <app-error-state [message]="error" (retry)="retry()"></app-error-state>
  }

  @if (!loading && !error && settings.length > 0) {
    <div class="table-wrapper">
      <table class="settings-table">
        <tbody>
          @for (setting of settings; track setting.key) {
            <tr class="setting-row">
              <td class="key-cell">
                <div
                  class="key-wrapper"
                  (mouseenter)="setting.description ? showTooltip(setting.key) : null"
                  (mouseleave)="hideTooltip()"
                  (touchstart)="setting.description ? showTooltip(setting.key) : null"
                  (touchend)="hideTooltip()"
                >
                  <span class="key-label">{{ setting.key }}</span>
                  @if (setting.description && tooltipKey === setting.key) {
                    <div class="tooltip">{{ setting.description }}</div>
                  }
                </div>
              </td>
              <td class="value-cell">
                <div class="value-wrapper">
                  <ion-item>
                    <ion-input
                      type="text"
                      [(ngModel)]="drafts[setting.key]"
                      [name]="setting.key"
                      [attr.aria-label]="'Valor de ' + setting.key"
                      (keydown.enter)="save(setting.key)"
                    ></ion-input>
                  </ion-item>
                  @if (isDirty(setting.key)) {
                    <ion-button
                      fill="clear"
                      size="small"
                      [disabled]="saving[setting.key]"
                      (click)="save(setting.key)"
                      aria-label="Guardar"
                    >
                      @if (saving[setting.key]) {
                        <span class="spinner"></span>
                      } @else {
                        <ion-icon name="checkmark-outline"></ion-icon>
                      }
                    </ion-button>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

</ion-content>
